.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.one {
  background-image: -webkit-linear-gradient(80deg, #fcba06 35%, #74aadd 35%);
  min-height: 1000px;
}
.two {
  background-image: -webkit-linear-gradient(110deg, #34adff 35%, #013a6b 35%);
  min-height: 400px;
}
.three {
  background-color: #efeeef;
  min-height: 260px;
}
.four {
  background-color: #e0e0e0;
  min-height: 260px;
}
.five {
  background-color: #efeeef;
  min-height: 260px;
}
.six {
  background-color: #34adff;
  background-image: -webkit-linear-gradient(30deg, #34adff 45%, #4cbfff 45%);
  min-height: 400px;
}
.seven {
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(150deg, #013a6b 35%, #004e95 35%);
  min-height: 200px;
}
