<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onOpenMenu()"> </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="one">
    <ion-virtual-scroll [items]="tramites" approxItemHeight="60px" background="primary">
      <ion-item *virtualItem="let tramite">
        {{ tramite }}
      </ion-item>
    </ion-virtual-scroll>
  </div>
  <div class="two"></div>

  <div class="three"></div>

  <div class="four"></div>

  <div class="five"></div>

  <div class="six"></div>

  <div class="seven"></div>
</ion-content>
